<div class="row">
  <div class="medium-4 columns">
    <%= image_tag event.image, class: "th" %>
  </div>
  <div class="medium-8 columns">
    <ul>
      <li><h3><%= event.name %></h3></li>
      <li><%= event.club.try(:name) %></li>
      <li><p><%= event.description %></p></li>
      <li>
        <ul class="button-group">
          <li><%= link_to 'Show', event, class: "button" %></li>
          <li><%= link_to 'Edit', edit_event_path(event), class: "button" %></li>
          <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>