<div class="row">
  <div class="medium-4 columns">
    <%= image_tag club.image, class: "th" %>
  </div> 
  <div class="medium-8 columns">
    <ul>
      <li><h3><%= club.name %></h3></li>
      <li><%= club.city.try(:name) %></li>
      <li><p><%= club.description %></p></li>
      <li>
        <ul class="button-group">
          <li><%= link_to 'Show', club, class: "button" %></li>
          <li><%= link_to 'Edit', edit_club_path(club), class: "button" %></li>
          <li><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
          <li><%= link_to 'Add Event', new_event_path, class: "button" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>