<div class="row">
  <div class="medium-4 columns">
    <%= image_tag user.image, class: "th" %>
  </div>
  <div class="medium-8 columns">
    <ul>
      <li><h3><%= user.name %></h3></li>
      <li><p><%= user.email %></p></li>
      <li>
        <ul class="button-group">
          <li><%= link_to 'Show', user, class: "button" %></li>
          <li><%= link_to 'Edit', edit_user_path(user), class: "button" %></li>
          <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>