<!DOCTYPE html>
<html>
<head>
  <title>StreetArtGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><%= link_to "Locations", locations_path %></li>
      <li><%= link_to "Create Location", new_location_path %></li>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
