<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
   <b>Image:</b>
   <%= link_to image_tag(@location.graffiti_image.thumb.url), @location.graffiti_image.url %>
 </p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
