<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :hits %><br>
    <%= f.number_field :hits %>
  </div>

  <div class="field">
    <%= label_tag :tags %>
    <ul>
    <% Tag.all.each do |tag| %>
      <li>
        <% is_checked = @photo.tag_ids.include? tag.id %>
        <%= check_box_tag "photo[tags][]", tag.id, is_checked %>
        <%= tag.name %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
