<div class="row">
  <div class="medium-4 columns">
    <%= image_tag city.image, class: "th" %>
  </div>
  <div class="medium-8 columns">
    <ul>
      <li><h3><%= city.name %></h3></li>
      <li><p><%= city.description %></p></li>
      <li>
        <ul class="button-group">
          <li><%= link_to 'Show', city, class: "button" %></li>
          <li><%= link_to 'Edit', edit_city_path(city), class: "button" %></li>
          <li><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>