<div class="profile">
  <h1><%= @city.name %></h1>
  <%= image_tag @city.image, class: "th" %>

  <p><%= @city.description %></p>

  <%= link_to 'Edit', edit_city_path(@city) %> |
  <%= link_to 'Back', cities_path %>
</div>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Clubs</a></li>
  <li class="tab-title"><a href="#panel2">Events</a></li>
  <li class="tab-title"><a href="#panel3">Users</a></li>
  <li class="tab-title"><a href="#panel4">Likes</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <h2>Clubs</h2>
    <%= render @clubs %>
  </div>
  <div class="content" id="panel2">
    <h2>Events</h2>
    <%= render @events %>
  </div>
  <div class="content" id="panel3">
    <h2>Users</h2>
    <%= render @users %>
  </div>
  <div class="content" id="panel4">
    <h2>Likes</h2>
    <%= render @likes %>
  </div>
</div>



