<h2><%= @artist.name %></h2>
<h3><%= @artist.nationality %></h3>
<img src="<%= @artist.photo_url %>">

<h4>Songs</h4>

<div class="songs">
  <div class="row">
    <ul>
      <% @songs.each do |song| %>
        <li><a href="/songs/<%= song.id %>"><%= song.title %></li>
      <% end %>
    </ul>
  </div>
</div>