<h2><%= "#{@friend["first"]} #{@friend["last"]}"%></h2>

<p><%= @friend["first"] %> lives in <%= @friend["city"] %></p>
<p>Born on the <%= @friend["dob"] %></p>
<p>Relationship : <%= @friend["relationship"] %></p>
<p><%= @friend["first"] %> has <%= @friend["friends"] || 0 %> Friends</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/btFfXgUdIzY" frameborder="0" allowfullscreen></iframe>